extends ../public/assets/_bootstrap

block body
    .container
        .jumbotron
            h1.display-4 Hey There!
            p.lead
            |   Welcome to <b>pART</b> a project that will help you for everything ART
            hr.my-4
            p
                | This project lets you control your rally workspace and your ART notifications.
            +a-btn-primary("/login") Login Now!

    //if response
    //    for name in response
    //        div.alert.alert-danger #{name}
    //
    //
    //form(action="/ca/connect", method="post" class="")
    //    input(type="text", id="username", name="username", placeholder="Username")
    //    input(type="password", id="password", name="password", placeholder="Password")
    //    input(type="submit" value="connect")

