extends layout

block content
    a(href="/signup") signup


    //if response
    //    for name in response
    //        div.alert.alert-danger #{name}
    //
    //
    //form(action="/ca/connect", method="post" class="")
    //    input(type="text", id="username", name="username", placeholder="Username")
    //    input(type="password", id="password", name="password", placeholder="Password")
    //    input(type="submit" value="connect")

