extends ../public/assets/_uiKit
block body
    .login-page
        .page-header.header-filter(filter-color='black')
            .page-header-image(style='background-image:url(/assets/img/bg22.jpg)')
            .content
                .container
                    .col-md-5.ml-auto.mr-auto
                        .card.card-login.card-plain
                            form.form(method='post' action='/login')
                                .card-header.text-center
                                    .logo-container
                                        img(src='/assets/img/now-logo.png' alt='')
                                .card-body
                                    +input-icon-left()(id = "email" name="email" placeholder="Work Email" class="icon-single-05")
                                    +input-icon-left()(id = "password" name="password" placeholder="Password" class="icon-padlock" type="password")
                                .card-footer.text-center
                                   +submit-primary-lg-block("Login")
                                .pull-left
                                    h6
                                        a.link.footer-link(href='/signup') Create Account
                                .pull-right
                                    h6
                                        a.link.footer-link(href='#pablo') Forgot Password?